lazy-object-proxy==1.7.1
lxml==4.9.1
packaging==21.3
parso==0.7.1
pathlib==1.0.1
platformdirs==2.5.2
pluggy==1.0.0
pyparsing==3.0.9
PySide6==6.3.1
PySide6-Addons==6.3.1
PySide6-Essentials==6.3.1
pytoolconfig==1.2.1
requests==2.28.1
shiboken6==6.3.1
tomlkit==0.11.0
ujson==5.4.0
urllib3==1.26.9
